apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: "https://traefik.github.io/charts"
    chart: traefik
    targetRevision: "37.4.0"
    helm:
      values: |
        deployment:
          replicas: 2

        tolerations:
          - key: "node-role.kubernetes.io/control-plane"
            operator: "Exists"
            effect: "NoSchedule"

        service:
          enabled: true
          type: LoadBalancer

        ingressClass:
          enabled: true
          isDefaultClass: true

        securityContext:
          capabilities:
            drop: [ALL]
            add: [NET_BIND_SERVICE]
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65532
  destination:
    server: "https://kubernetes.default.svc"
    namespace: traefik-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
